<div id="menuSection">
    <nav>
        <input #txtSize id="size" type="text">
        <button class="btn" (click)="generarTabla(txtSize.value)">Generar tabla</button>
    </nav>
<div>
    
<section id="tableroSection">

</section>


<!--<div *ngIf="Arr1">
      <table id="tabla" class="table-bordered">
        <tr *ngFor="let i of Arr1">
            <td #el id="prefab" *ngFor="let i of Arr1" style="background-color:black" (click)="changeColor(el)"></td>
        </tr>   
    </table> 
</div>-->