<div id="menuSection">
    <nav>
        <input #txtSize id="size" type="text">
        <button class="btn" (click)="generateTable(txtSize.value)" type="submit">Generar tabla</button>
        <button class="btn" type="submit" (click)="play()">Colorear</button>
        <button class="btn" type="submit" (click)="loopMode()">Loop</button>
    </nav>
<div>
    
<div *ngIf="arr" class="container">
    
    <div class="col-md-6">
        <table id="MyTable" class="table-bordered">
            <tr *ngFor="let i of arr">
                <td #el *ngFor="let i of arr" (click)="changeColor(el)" style="background-color:black" class="celda"></td>
            </tr>   
        </table>
    </div>

</div>